<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
	<div class="container">
	  <a class="navbar-brand" href="{{path('homepage')}}"><i class="fa fa-graduation-cap"></i>  CEP</a>
	  <ul class="nav navbar-nav pull-right">
	    <li class="nav-item  {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
	      <a class="nav-link" href="{{path('homepage')}}"><i class="fa fa-home" aria-hidden="true"></i>  Accueil <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link  {% if app.request.attributes.get('_route') == 'profilepage' %}active{% endif %}" href="{{path('profilepage')}}"><i class="fa fa-user" aria-hidden="true"></i> {{app.user.name}} {{app.user.surname}}</a>
	    </li>
	    {% if app.user.type == 4 %}
		    <li class="nav-item">
		      <a class="nav-link" href="{{path('admin')}}"><i class="fa fa-lock" aria-hidden="true"></i> Administration</a>
		    </li>
	    {% endif %}
	    <li class="nav-item">
	      <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Paramètres</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="{{path('security_logout')}}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
	    </li>
	  </ul>
	</div>
</nav>

<div class="space"></div>
<div class="space"></div>