{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block body %}
	{% include 'navs/admin.html.twig' %}
	<section class="container">
		{% include 'navs/sidebar.admin.html.twig' %}
		<div class="col-md-9">
			<h2><i class="fa fa-feed"></i> Configuration</h2>
			<hr>
			<div class="row">
				<form action="{{path('admin_info')}}" class="form" enctype="multipart/form-data" method="post">
					<fieldset class="form-group">
						<label for="name">Nom</label>
						<input type="text" class="form-control" id="name" name="name" value="{{info.name}}" placeholder="Nom de la platforme">
					</fieldset>
					<fieldset class="form-group">
						<label for="slug">Slug</label>
						<input type="text" class="form-control" id="slug" name="slug" value="{{info.slug}}" placeholder="Nom court de la platforme">
					</fieldset>
					<fieldset class="form-group">
						<label for="message">Message</label>
						<input type="text" class="form-control" id="message" name="message" value="{{info.message}}" placeholder="Message pour les visiteurs">
					</fieldset>
					<fieldset class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" id="description" name="description"
								  placeholder="Description du site">{{ info.description }}</textarea>
					</fieldset>
					<fieldset class="form-group">
						<label for="copyright">Droit d'auteur</label>
						<textarea class="form-control" id="copyright" name="copyright"
								  placeholder="Les droits d'auteur afficher en dessous du site">{{ info.copyright }}</textarea>
					</fieldset>
					<fieldset class="form-group">
						<label for="">Logo</label>
						<small class="text-muted">Une image (JPG, PNG, GIF)</small>
						<div class="row preview-container">
							{% if info.logo %}
								<img alt="logo" class="img-thumbnail old" src="{{ asset('img/'~ info.logo  ) }}"
									 style="height: 150px;margin-bottom: 5px;">
							{% endif %}
							<img alt="logo" class="img-thumbnail preview" style="display:none;">
						</div>
						<label class="file">
							<input type="file" id="img-input" name="logo" accept="image/gif, image/jpeg, image/png">
							<span class="file-custom"></span>
						</label>
					</fieldset>
					<fieldset class="form-group">
						<label for="css">CSS</label>
						<textarea class="form-control" id="css" name="css"
								  placeholder="Contenu de la publication">{{ info.css }}</textarea>
					</fieldset>
					<fieldset class="form-group">
						<label for="js">JavaScript</label>
						<textarea class="form-control" id="js" name="js"
								  placeholder="Contenu de la publication">{{ info.js }}</textarea>
					</fieldset>
					<fieldset class="form-group">
						<label for="email">Email</label>
						<input type="email"  id="email" name="email" class="form-control" placeholder="Exemple@site.com" value="{{info.email}}">
					</fieldset>
					<fieldset class="form-group">
						<label for="tel">TEL</label>
						<input type="tel"  id="tel" name="tel" class="form-control" placeholder="(+216) xx xxx xxx" value="{{info.tel}}">
					</fieldset>
					<fieldset class="form-group">
						<label for="link">Lien</label>
						<input type="url" id="link" name="link" class="form-control" placeholder="http://" value="{{info.link}}">
					</fieldset>
					<fieldset class="form-group">
						<label for="facebook">Facebook</label>
						<input type="text" id="facebook" name="facebook" class="form-control" placeholder="Facebook username" value="{{info.facebook}}">
					</fieldset>
					<fieldset class="form-group">
						<label for="twitter">Twitter</label>
						<input type="text" id="twitter" name="twitter" class="form-control" placeholder="Twitter username" value="{{info.twitter}}">
					</fieldset>
					<fieldset class="form-group">
						<label for="fbid">App ID</label>
						<input type="text" id="fbid" name="fbid" class="form-control" placeholder="Facebook App ID" {{info.fbid}}>
					</fieldset>

					<fieldset>
						<button type="submit" class="btn btn-info pull-right"><i class="fa fa-check-circle"></i>  sauvegarder</button>
					</fieldset>
				</form>
			</div>
		</div>
	</section><!-- /container -->




{% endblock %}
